.owner--head{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.owner {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7%;
}
.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.card {
    padding: 2%;
}
.phone-card {
    padding: 5%;
}
.owner--icon{
    width: 89%;
    height: 89%;
}
.ownerButton{
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}
.ownerForm{
    margin-top: 5%;
}